@font-face {
	font-family: "Inter";
	src: url("../_lib/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

:root {
	--backg: #e4e4e4;
	--slideshow: #fff;
	--slide-width: 730px;
	--slide-height: 550px;
	--radius: 6px;
	--btn-back: #696b74;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--backg);
	width: 100vw;
	height: 100vh;
	color: var(--color);
	font-family: Inter,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -.1px;
	line-height: 1.55;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.btn {
	font-weight: bold;
	text-transform: uppercase;
	padding: 8px 12px;
	border-radius: var(--radius);
	background-color: var(--btn-back);
	color: #fff;
	font-size: 12px;
}

a[href] {
	font-weight: bold;
	color: #000;
}

.shadow {
	box-shadow: 0 0 10px 5px #bbb;
}

[class="image"] {
	background-image: var(--image);
	background-position: center center;
	background-size: cover;
	height: 200px;
	width: 300px;
}
