@import '../_lib/normalize-8.0.1.css';
@import 'common.css';
@import 'slideshow.css';


/** SOUNDS **/
.howler {
	color: #222;
	margin-top: 15px;
	max-width: var(--slide-width);
	width: 100vw;
}
.howler.paused {
	visibility: hidden;
}
.howler.hidden {
	display: none;
}
.howler > * {
	display: inline-block;
	vertical-align: middle;
}
.howler > svg {
	width: 30px;
	margin-right: 15px;
}
.howler > div {
	font-weight: bold;
}
.howl {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	width: 30px;
}


.basic-template {
	padding: 10px;
}
.basic-template > h1 {
	margin: 0;
	font-size: 4em;
	color: var(--btn-back);
	line-height: initial;
}
.basic-template > p {
	max-width: 60%;
	display: block;
	margin-bottom: 10px;
	font-size: 0.9em;
	color: #444;
}
.basic-template > [data-slide]:first-of-type {
	position: absolute;
	right: 7%;
	bottom: 7%;
}
.basic-template .img {
	position: absolute;
	width: 70%;
	height: 55%;
	left: 0;
	bottom: 0;
	background-size: cover;
	background-position: center bottom;
	background-image: var(--image);
}

.title-template {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.title-template > h1 {
	font-size: 3.5em;	
	margin-top: calc(var(--slide-height) * 0.1);
	margin-bottom: calc(var(--slide-height) * 0.05);
}
.title-template > p:last-of-type {
	margin-bottom: calc(var(--slide-height) * 0.1);
}
.title-template > .logo {
	margin: 10px auto;
	width: 70px;
	height: 70px;
	background-position: center center;
	background-size: cover;
	background-image: var(--image);
	border-radius: var(--radius);
}

.gallery-template {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.gallery-template > * {
	width: max-content;
}
.gallery-template > *:not(:last-child) {
	margin-bottom: 20px;
}
.gallery-template > .gallery {
	display: grid;
	grid-template-columns: repeat(var(--param1), 1fr);
	grid-gap: 20px;
	width: 100%;
	flex: 1 0;
}
.gallery-template > .gallery > [style*="--image"] {
	background: center center/cover no-repeat var(--image);
}
