.slideshow {
	background-color: var(--slideshow);
	max-width: var(--slide-width);
	max-height: var(--slide-height);
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	transition: width .2s ease-in-out, height .2s ease-in-out;
}

.slideshow > .slide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 20px;
	background-color: var(--slideshow);
}

.slideshow > .slide [data-slide] {
	cursor: pointer;
}

@keyframes from-right-in {
	0% {
		transform: scale(0.9);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes from-right-out {
	0% {
		transform: none;
		opacity: 1;
	}
	100% {
		transform: translateX(calc(var(--slide-width) * -1));
		opacity: 0;
	}
}
.slideshow[data-transition="from-right"] .old-slide {
	animation: from-right-out 1s ease-in-out;
	transform: translateX(calc(var(--slide-width) * -1));
	opacity: 0;
}
.slideshow[data-transition="from-right"] .new-slide {
	animation: from-right-in 1s ease-in-out;
}

@keyframes from-bottom-in {
	0% {
		transform: scale(0.9);
		transform: translateY(calc(var(--slide-height)));
	}
	100% {
		transform: scale(1);
		transform: none;
	}
}
@keyframes from-bottom-out {
	0% {
		transform: none;
	}
	100% {
		transform: translateY(calc(var(--slide-height) * -1));
	}
}
.slideshow[data-transition="from-bottom"] .old-slide {
	animation: from-bottom-out 1s ease-in-out;
	transform: translateY(calc(var(--slide-height) * -1));
}
.slideshow[data-transition="from-bottom"] .new-slide {
	animation: from-bottom-in 1s ease-in-out;
}